$kleur1: rgb(199, 198, 198);
$kleur2: rgb(34, 178, 227);
$font: "Arial, sans-serif";
$fotogroote: 100%;

%centered-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%relative-position {
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 250vh;
}

a{
    color: white;
    text-decoration: none;
}

header {
    @extend %centered-flex;
    padding: 10px 20px;
    background: $kleur2;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 7vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .logo {
        font-size: 35px;
        font-weight: bold;
        @extend %relative-position;
        left: 70px;
    }

    nav ul {
        list-style: none;   
        gap: 17px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            @extend %relative-position;
            left: 45px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .menu-buttons button {
        background: none;
        border: none;
        font-size: 24px;
        margin-left: 10px;
        cursor: pointer;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .intro {
        @extend %centered-flex;
        gap: 30px;
        padding: 50px 0;

        .intro-text {
            h1 {
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 10px;
                @extend %relative-position;
                top: 200px;
                left: 300px;
                
            }

            p {
                font-size: 24px;
                color: black;
                @extend %relative-position;
                top: 205px;
                left: 300px;
            }
            img {
               position: absolute;
               top: 90px;
               left: 250px;
               border-radius: $fotogroote;
            }
        }
    }

    .about-me {
        width: 100%;
        padding: 50px 20px;
        background-color: $kleur2;
        @extend %relative-position;
        top: 470px;
        font-weight: 500;
  

        .container {
            max-width: 1200px;
            margin: 0 auto;

            h1 {
                font-size: 36px;
                margin-bottom: 20px;
                color: white;
            }

            p {
                font-size: 18px;
                line-height: 1.6;
                color: white;
            }

            .tabs {
                display: flex;
                gap: 10px;
                margin-top: 20px;

                .tablink {
                    padding: 10px 20px;
                    background-color: $kleur1;
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    text-align: center;

                    &:hover {
                        background-color: $kleur1;
                    }
                }
            }

            .tabcontent {
                display: none;
                padding: 20px;
                background: $kleur2;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin-top: 20px;
            }

            #Skills:target, #Experience:target, #Education:target {
                display: block;
            }
        }
    }

    .projecten {
        background-color: white;
        @extend %relative-position;
        top: 550px;
        text-align: center;
        padding: 50px 20px;

        h4 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        .tcr, .chirp {
            margin: 20px 0;

            img {
                border-radius: 10px;
            }
        }
    }
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    @extend %relative-position;
    top: 630px;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
@media only screen and (max-width: 1025px) and (min-width: 1023px) {
    
$kleur1: rgb(199, 198, 198);
$kleur2: rgb(34, 178, 227);
$font: "Arial, sans-serif";
$fotogroote: 100%;

%centered-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%relative-position {
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 216vh;
}

a{
    color: white;
    text-decoration: none;
}

header {
    @extend %centered-flex;
    padding: 10px 20px;
    background: $kleur2;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 7vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    .logo {
        font-size: 35px;
        font-weight: bold;
        @extend %relative-position;
        left: 100px;
    }

    nav ul {
        list-style: none;   
        gap: 17px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        li a {
            text-decoration: none;
            color: white;
            font-size: 22px;
            @extend %relative-position;
            left: 110px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .menu-buttons button {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        position: relative;
        right: 50px;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .intro {
        @extend %centered-flex;
        gap: 30px;
        padding: 50px 0;

        .intro-text {
            h1 {
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 10px;
                @extend %relative-position;
                top: 320px;
                left: 140px;
                
            }

            p {
                font-size: 24px;
                color: black;
                @extend %relative-position;
                top: 310px;
                left: 70px;
            }
            img {
               position: absolute;
               top: 110px;
               left: 400px;
               border-radius: $fotogroote;
               width: 320px;
            }
        }
    }

    .about-me {
        width: 100%;
        padding: 50px 20px;
        background-color: $kleur2;
        @extend %relative-position;
        top: 470px;
        font-weight: 500;
  

        .container {
            max-width: 1200px;
            margin: 0 auto;

            h1 {
                font-size: 36px;
                margin-bottom: 20px;
                color: white;
            }

            p {
                font-size: 18px;
                line-height: 1.6;
                color: white;
            }

            .tabs {
                display: flex;
                gap: 10px;
                margin-top: 20px;
            

                .tablink {
                    padding: 10px 20px;
                    background-color: $kleur1;
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    text-align: center;

                    &:hover {
                        background-color: $kleur1;
                    }
                }
            }

            .tabcontent {
                display: none;
                padding: 20px;
                background: $kleur2;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin-top: 20px;
            }

            #Skills:target, #Experience:target, #Education:target {
                display: block;
            }
        }
    }

    .projecten {
        background-color: white;
        @extend %relative-position;
        top: 550px;
        text-align: center;
        padding: 50px 20px;

        h4 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        .tcr, .chirp {
            margin: 20px 0;

            img {
                border-radius: 10px;
            }
        }
    }
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    @extend %relative-position;
    top: 630px;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
}
@media only screen and (max-width: 431px) and (min-width: 429px) {
    
    $kleur1: rgb(199, 198, 198);
    $kleur2: rgb(34, 178, 227);
    $font: "Arial, sans-serif";
    $fotogroote: 100%;
    
    %centered-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    %relative-position {
        position: relative;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: white;
        height: 216vh;
    }
    
    a{
        color: white;
        text-decoration: none;
    }
    
    header {
        @extend %centered-flex;
        padding: 10px 20px;
        background: $kleur2;
        position: sticky;
        top: 0;
        z-index: 100;
        height: 7vh;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
        .logo {
            font-size: 35px;
            font-weight: bold;
            @extend %relative-position;
            left: 100px;
        }
    
        nav ul {
            list-style: none;   
            gap: 17px;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
    
            li a {
                text-decoration: none;
                color: white;
                font-size: 22px;
                @extend %relative-position;
                left: 110px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    
        .menu-buttons button {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
            position: relative;
            right: 50px;
        }
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    
        .intro {
            @extend %centered-flex;
            gap: 30px;
            padding: 50px 0;
    
            .intro-text {
                h1 {
                    font-size: 48px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    @extend %relative-position;
                    top: 320px;
                    left: 140px;
                    
                }
    
                p {
                    font-size: 24px;
                    color: black;
                    @extend %relative-position;
                    top: 310px;
                    left: 70px;
                }
                img {
                   position: absolute;
                   top: 110px;
                   left: 400px;
                   border-radius: $fotogroote;
                   width: 320px;
                }
            }
        }
    
        .about-me {
            width: 100%;
            padding: 50px 20px;
            background-color: $kleur2;
            @extend %relative-position;
            top: 470px;
            font-weight: 500;
      
    
            .container {
                max-width: 1200px;
                margin: 0 auto;
    
                h1 {
                    font-size: 36px;
                    margin-bottom: 20px;
                    color: white;
                }
    
                p {
                    font-size: 18px;
                    line-height: 1.6;
                    color: white;
                }
    
                .tabs {
                    display: flex;
                    gap: 10px;
                    margin-top: 20px;
                
    
                    .tablink {
                        padding: 10px 20px;
                        background-color: $kleur1;
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;
                        text-align: center;
    
                        &:hover {
                            background-color: $kleur1;
                        }
                    }
                }
    
                .tabcontent {
                    display: none;
                    padding: 20px;
                    background: $kleur2;
                    border-radius: 5px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    margin-top: 20px;
                }
    
                #Skills:target, #Experience:target, #Education:target {
                    display: block;
                }
            }
        }
    
        .projecten {
            background-color: white;
            @extend %relative-position;
            top: 550px;
            text-align: center;
            padding: 50px 20px;
    
            h4 {
                font-size: 36px;
                margin-bottom: 20px;
            }
    
            .tcr, .chirp {
                margin: 20px 0;
    
                img {
                    border-radius: 10px;
                }
            }
        }
    }
    
    footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 20px 0;
        @extend %relative-position;
        top: 630px;
    
        a {
            color: white;
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
    }


